language: php
dist: bionic
php:
  - 7.3
  - 7.4

install:
  - composer install --dev --no-interaction
script:
  - mkdir -p report/logs
  - php vendor/bin/phpunit -c phpunit.xml.dist --coverage-clover=report/logs/clover.xml
  - php vendor/bin/phpcs --standard=phpcs.xml.dist

before_script:
  - composer require --dev php-coveralls/php-coveralls --no-interaction

after_success:
  - travis_retry php vendor/bin/php-coveralls
  # or enable logging
  - travis_retry php vendor/bin/php-coveralls -v